$color-background: #ffffff;
$color-header-text: rgba(54, 56, 56, 0.9);
$color-title: #363838;
$color-text: #5A5A5A;

$color-line-title: #6D7278;
$color-line-title-border: #979797;

$color-button-active-text: #363838;
$color-button-active-background: #FFEF35;
$color-button-not-active-text: #8F8D8D;
$color-button-not-active-border: #454647;

$color-text-description: #707070;

$color-input-text: #A1A1A1;
$color-input-border: #383636;
$color-button-form-text: #FFFFF0;
$color-button-form: #363838;


$color-footer-text: #707070;
$color-footer-text-2: #A1A1A1;
$color-footer-background-1: #DFDFDF;
$color-footer-background-2: #363838;

$color-rect: #F1D152;
$color-icon-page: #000000;